In [3]:
import pandas as pd
import glob

In [30]:
# bicycle2019 = [pd.read_csv(file_locate) for file_locate in glob.glob("./bicycle/*.csv")]
bicycle2019 = [pd.read_excel(file_locate) for file_locate in glob.glob("./bicycle_2019/*.xlsx")]

In [44]:
bicycle2021 = [pd.read_csv(file_locate, encoding='cp949') for file_locate in glob.glob("./bicycle_2021/*.csv")]

In [47]:
df_2021 = []
for x in bicycle2021:
    # print(x.columns)
    df = pd.DataFrame(x)
    df_2021.append(df)

In [51]:
cc_2021 = pd.concat(df_2021)

In [97]:
cc_2021.대여소번호.value_counts()

대여소번호
207      957
502      945
2622     909
583      903
186      894
        ...
9991       2
1476       2
9990       1
2918       1
90002      1
Name: count, Length: 2652, dtype: int64

In [73]:
cc_2021.columns

Index(['대여일자', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량',
       '이동거리(M)', '이용시간(분)', '이용거리(M)', '이용시간(본)'],
      dtype='object')

In [93]:
pb_2021 = cc_2021.groupby(['대여일자', '대여소번호'], as_index=False)['이용건수'].sum()

In [94]:
pb_2021

          대여일자  대여소번호  이용건수
0      2021-01      3    14
1      2021-01      5     7
2      2021-01     10   152
3      2021-01    101   371
4      2021-01    102  1107
...        ...    ...   ...
28956  2021-12   9997    18
28957  2021-12   9998     2
28958  2021-12   9999    87
28959  2021-12  88888     1
28960  2021-12  99999     4

[28961 rows x 3 columns]

In [105]:
import pickle
with open('./CycleRentUseMonth_2021.pkl', 'wb') as f:
    pickle.dump(pb_2021,f)

In [96]:

with open('./cc_2021.pkl', 'wb') as f:
    pickle.dump(cc_2021,f)