In [23]:
import requests
import pandas as pd
from tqdm import tqdm

In [8]:
data_url = 'http://tmacs.kotsa.or.kr/web/TG/TG200/TG2100S/Tgsearch01_AJAX.jsp'

In [4]:
payload = {"gubun": "S1190",
"mid": "S1190",
"sYear": "2022",
"eYear": "2022",
"sido": "11000",
"jijace": "11740",
"kind1": "s104",
"kind2": "s1041",
"cartype": "carall",}

In [5]:
year = [2018, 2019, 2020, 2021, 2022]

In [92]:
jijace_list = [11680, 11740, 11305, 11500, 11620, 11215, 11530, 11545, 11350, 11320, 11230, 11590, 11440, 11410, 11650, 11200, 11290, 11710, 11470, 11560, 11170, 11380, 11110, 11140, 11260]

In [21]:
# gu = {'11680' : '강남구',
# '11740' : '강동구',
# '11305' : '강북구',
# '11500' : '강서구',
# '11620' : '관악구',
# '11215' : '광진구',
# '11530' : '구로구',
# '11545' : '금천구',
# '11350' : '노원구',
# '11320' : '도봉구',
# '11230' : '동대문구',
# '11590' : '동작구',
# '11440' : '마포구',
# '11410' : '서대문구',
# '11650' : '서초구',
# '11200' : '성동구',
# '11290' : '성북구',
# '11710' : '송파구',
# '11470' : '양천구',
# '11560' : '영등포',
# '11170' : '용산구',
# '11380' : '은평구',
# '11110' : '종로구',
# '11140' : '중구',
# '11260' : '중랑구',}

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [24]:
if seoul_df_1.count > 1:
    del seoul_df_1

seoul_df_1 = []

for y in year:
    payload['sYear'] = y
    payload['eYear'] = y
    for x in tqdm(jijace_list):
        payload['jijace'] = x
        
        df = pd.DataFrame(requests.post(data_url, data=payload).json())
        df['YEAR'] = y        
        seoul_df_1.append(df)

100%|██████████| 25/25 [00:15<00:00,  1.61it/s]
100%|██████████| 25/25 [00:19<00:00,  1.25it/s]
100%|██████████| 25/25 [00:14<00:00,  1.69it/s]
100%|██████████| 25/25 [00:14<00:00,  1.73it/s]
100%|██████████| 25/25 [00:14<00:00,  1.72it/s]

In [34]:
concat = pd.concat(seoul_df_1)

In [58]:
seoul = concat.reset_index()
road = concat.reset_index().drop('index', axis=1)

In [40]:
concat

,JIJACE_NM,CHISA,ACC_HUM,SIDO_CD,GUBUN_NM,SLTWD_CNT,SERI_ACC,SIDO_NM,AC_MODE,CRT_JIJACE_CD,BASE_NAME,BIG_CNT,PSGT_CNT,WND_ACC,ACC_CNT,TRK_CNT,DEATH_CNT,BASE_CODE,WND_CNT,DEATH_ACC,GUBUN,SERI_CNT,SLTWD_ACC,YEAR
0,강남구,0.39,787,11000,승용,602,115,서울,A,11680,교차로안,0,0,19,507,0,2,01,49,2,01,134,371,2018
1,강남구,0.00,19,11000,승합,14,5,서울,A,11680,교차로안,0,0,0,15,0,0,01,0,0,02,5,10,2018
2,강남구,0.00,28,11000,화물,18,3,서울,A,11680,교차로안,0,0,2,20,1,0,01,6,0,03,4,15,2018
3,강남구,0.00,1,11000,특수,1,0,서울,A,11680,교차로안,0,0,0,1,0,0,01,0,0,04,0,1,2018
4,강남구,4.35,58,11000,이륜,39,8,서울,A,11680,교차로안,0,0,7,46,0,2,01,8,2,05,9,29,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,중랑구,0.00,5,11000,이륜,4,1,서울,A,11260,기타,0,0,0,5,0,0,99,0,0,05,1,4,2022
55,중랑구,0.00,1,11000,원동기,1,0,서울,A,11260,기타,0,0,0,1,0,0,99,0,0,06,0,1,2022
56,중랑구,0.00,16,11000,자전거,8,7,서울,A,11260,기타,0,0,1,16,0,0,99,1,0,07,7,8,2022
57,중랑구,0.00,2,11000,개인형이동수단(PM),1,1,서울,A,11260,기타,0,0,0,2,0,0,99,0,0,12,1,1,2022
58,중랑구,0.00,10,11000,기타,5,1,서울,A,11260,기타,0,0,4,8,0,0,99,4,0,99,1,3,2022

In [42]:
seoul

,index,JIJACE_NM,CHISA,ACC_HUM,SIDO_CD,GUBUN_NM,SLTWD_CNT,SERI_ACC,SIDO_NM,AC_MODE,CRT_JIJACE_CD,BASE_NAME,BIG_CNT,PSGT_CNT,WND_ACC,ACC_CNT,TRK_CNT,DEATH_CNT,BASE_CODE,WND_CNT,DEATH_ACC,GUBUN,SERI_CNT,SLTWD_ACC,YEAR
0,0,강남구,0.39,787,11000,승용,602,115,서울,A,11680,교차로안,0,0,19,507,0,2,01,49,2,01,134,371,2018
1,1,강남구,0.00,19,11000,승합,14,5,서울,A,11680,교차로안,0,0,0,15,0,0,01,0,0,02,5,10,2018
2,2,강남구,0.00,28,11000,화물,18,3,서울,A,11680,교차로안,0,0,2,20,1,0,01,6,0,03,4,15,2018
3,3,강남구,0.00,1,11000,특수,1,0,서울,A,11680,교차로안,0,0,0,1,0,0,01,0,0,04,0,1,2018
4,4,강남구,4.35,58,11000,이륜,39,8,서울,A,11680,교차로안,0,0,7,46,0,2,01,8,2,05,9,29,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6348,54,중랑구,0.00,5,11000,이륜,4,1,서울,A,11260,기타,0,0,0,5,0,0,99,0,0,05,1,4,2022
6349,55,중랑구,0.00,1,11000,원동기,1,0,서울,A,11260,기타,0,0,0,1,0,0,99,0,0,06,0,1,2022
6350,56,중랑구,0.00,16,11000,자전거,8,7,서울,A,11260,기타,0,0,1,16,0,0,99,1,0,07,7,8,2022
6351,57,중랑구,0.00,2,11000,개인형이동수단(PM),1,1,서울,A,11260,기타,0,0,0,2,0,0,99,0,0,12,1,1,2022
6352,58,중랑구,0.00,10,11000,기타,5,1,서울,A,11260,기타,0,0,4,8,0,0,99,4,0,99,1,3,2022

In [13]:
seoul2

,JIJACE_NM,CHISA,ACC_HUM,SIDO_CD,GUBUN_NM,SLTWD_CNT,SERI_ACC,SIDO_NM,AC_MODE,CRT_JIJACE_CD,...,TRK_CNT,DEATH_CNT,BASE_CODE,WND_CNT,DEATH_ACC,GUBUN,SERI_CNT,SLTWD_ACC,YEAR,BASE_CATEGORY
0,강남구,0.39,787,11000,승용,602,115,서울,A,11680,...,0,2,01,49,2,01,134,371,2018,도로형태
1,강남구,0.00,19,11000,승합,14,5,서울,A,11680,...,0,0,01,0,0,02,5,10,2018,도로형태
2,강남구,0.00,28,11000,화물,18,3,서울,A,11680,...,1,0,01,6,0,03,4,15,2018,도로형태
3,강남구,0.00,1,11000,특수,1,0,서울,A,11680,...,0,0,01,0,0,04,0,1,2018,도로형태
4,강남구,4.35,58,11000,이륜,39,8,서울,A,11680,...,0,2,01,8,2,05,9,29,2018,도로형태
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6348,중랑구,0.00,5,11000,이륜,4,1,서울,A,11260,...,0,0,99,0,0,05,1,4,2022,도로형태
6349,중랑구,0.00,1,11000,원동기,1,0,서울,A,11260,...,0,0,99,0,0,06,0,1,2022,도로형태
6350,중랑구,0.00,16,11000,자전거,8,7,서울,A,11260,...,0,0,99,1,0,07,7,8,2022,도로형태
6351,중랑구,0.00,2,11000,개인형이동수단(PM),1,1,서울,A,11260,...,0,0,99,0,0,12,1,1,2022,도로형태
6352,중랑구,0.00,10,11000,기타,5,1,서울,A,11260,...,0,0,99,4,0,99,1,3,2022,도로형태

In [12]:
with open("./road_accident.pkl", 'rb') as f:
    seoul2 = pickle.load(f)

In [53]:
seoul

,JIJACE_NM,CHISA,ACC_HUM,SIDO_CD,GUBUN_NM,SLTWD_CNT,SERI_ACC,SIDO_NM,AC_MODE,CRT_JIJACE_CD,BASE_NAME,BIG_CNT,PSGT_CNT,WND_ACC,ACC_CNT,TRK_CNT,DEATH_CNT,BASE_CODE,WND_CNT,DEATH_ACC,GUBUN,SERI_CNT,SLTWD_ACC,YEAR
0,강남구,0.39,787,11000,승용,602,115,서울,A,11680,교차로안,0,0,19,507,0,2,01,49,2,01,134,371,2018
1,강남구,0.00,19,11000,승합,14,5,서울,A,11680,교차로안,0,0,0,15,0,0,01,0,0,02,5,10,2018
2,강남구,0.00,28,11000,화물,18,3,서울,A,11680,교차로안,0,0,2,20,1,0,01,6,0,03,4,15,2018
3,강남구,0.00,1,11000,특수,1,0,서울,A,11680,교차로안,0,0,0,1,0,0,01,0,0,04,0,1,2018
4,강남구,4.35,58,11000,이륜,39,8,서울,A,11680,교차로안,0,0,7,46,0,2,01,8,2,05,9,29,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6348,중랑구,0.00,5,11000,이륜,4,1,서울,A,11260,기타,0,0,0,5,0,0,99,0,0,05,1,4,2022
6349,중랑구,0.00,1,11000,원동기,1,0,서울,A,11260,기타,0,0,0,1,0,0,99,0,0,06,0,1,2022
6350,중랑구,0.00,16,11000,자전거,8,7,서울,A,11260,기타,0,0,1,16,0,0,99,1,0,07,7,8,2022
6351,중랑구,0.00,2,11000,개인형이동수단(PM),1,1,서울,A,11260,기타,0,0,0,2,0,0,99,0,0,12,1,1,2022
6352,중랑구,0.00,10,11000,기타,5,1,서울,A,11260,기타,0,0,4,8,0,0,99,4,0,99,1,3,2022

In [60]:
road['BASE_CATEGORY'] = '도로형태'

In [1]:
road

NameError: name 'road' is not defined

In [11]:
import pickle
with open("./road_accident.pkl", 'wb') as f:
    pickle.dump(road, f)

In [64]:
road.columns

Index(['JIJACE_NM', 'CHISA', 'ACC_HUM', 'SIDO_CD', 'GUBUN_NM', 'SLTWD_CNT',
       'SERI_ACC', 'SIDO_NM', 'AC_MODE', 'CRT_JIJACE_CD', 'BASE_NAME',
       'BIG_CNT', 'PSGT_CNT', 'WND_ACC', 'ACC_CNT', 'TRK_CNT', 'DEATH_CNT',
       'BASE_CODE', 'WND_CNT', 'DEATH_ACC', 'GUBUN', 'SERI_CNT', 'SLTWD_ACC',
       'YEAR', 'BASE_CATEGORY'],
      dtype='object')

In [88]:
con =pymysql.connect(host='ip', user='id', password='pw', db='encore6', charset='utf8')

In [90]:
sql= """CREATE TABLE road_accident
(
    JIJACE_NM VARCHAR(30),
    CHISA FLOAT,
    ACC_HUM INT,
    SIDO_CD INT,
    GUBUN_NM VARCHAR(30),
    SLTWD_CNT INT,
    SERI_ACC INT,
    SIDO_NM VARCHAR(10),
    AC_MODE VARCHAR(4),
    CRT_JIJACE_CD INT ,
    BASE_NAME VARCHAR(30),
    BIG_CNT INT,
    PSGT_CNT INT,
    WND_ACC INT,
    ACC_CNT INT,
    TRK_CNT INT,
    DEATH_CNT INT,
    BASE_CODE VARCHAR(10),
    WND_CNT INT,
    DEATH_ACC INT,
    GUBUN VARCHAR(5),
    SERI_CNT INT,
    SLTWD_ACC INT,
    YEAR INT,
    BASE_CATEGORY VARCHAR(10)
)"""
cur.execute(sql)
con.commit()

In [91]:
for i, row in road.iterrows():
    insert_query = """INSERT INTO road_accident VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cur.execute(insert_query, road.iloc[i].tolist())

con.commit()

In [74]:
len(road.loc[0].tolist())

25

In [93]:
import folium
import json
map = folium.Map(location=[37.5502, 126.982], zoom_start=11, tiles="cartodb positron")
geo_str = requests.get("https://t1.daumcdn.net/cfile/tistory/272C224C58B4BD540B").json()
data = road.groupby(['JIJACE_NM'],as_index=False)[['ACC_HUM']].sum()
m = folium.Choropleth(geo_str, 
                  data = data,
                  columns=['JIJACE_NM', 'ACC_HUM'],
                  fill_color="PuRd",
                  key_on="feature.id").add_to(map)

In [95]:
# map